
body{
    color: #bebebe;  
}
header{
    background-image: url(images/background.jpg);
    /* Use viewport height */
    height: 100vh;
    background-size: cover;
    /* Center Content on page*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; 
    color: #ffffff;
}
.center{
    margin: 0 auto;
    padding: 10px;
    text-align: center; 
}

/*NAVIGATION*/

nav{
   background-color: rgba(0, 0, 0, 0.2); 
    color: #000000; 
}
nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

nav i{
    transform: scale(1.1);
    color: rgba(255, 255, 255, 0.5);
}

/*HEADER ELEMENTS*/

.button-main{
    background-color: rgba(109, 109, 109, 0);
    color: white; 
    border: solid #c4c3c3 1px;
    text-align: center;
    width: 150px; 
    height: 50px;
    margin: 0 auto;
    position:relative;
    top: 1%; 
    border-radius: 40px; 
    transition: All .5s;
    transition-timing-function: cubic-bezier(0, 0, 0.52, 1.19);
}   

.button-main:hover {
    
    transform: scale(1.1);
    background-color: #c4c3c3;
    color: black; 
}

#scroller{
   
    display: inline-block;
    position: absolute;  
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 2.5%;
    transition: .3s;
    transition-timing-function: ease-in-out;
}
#scroller p {
    margin-bottom: inherit; 
}

#scroller:hover{
    color: #c4c3c3;
}






