@import url('https://fonts.googleapis.com/css?family=Khula:400,600,700');

body{
    color: #bebebe; 
    font-family:'Khula', sans-serif;
}
header{
    background-image: url(images/background-2.jpg);
    /* Use viewport height */
    height: 100vh;
    background-size: cover;
    /* Center Content on page*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; 
    color: #ffffff;
}
header h1{
    font-weight: bold;
    font-size:60px;
}
.center{
    margin: 0 auto;
    padding: 10px;
    text-align: center; 
}

/*NAVIGATION*/

nav{
   background-color: rgba(0, 0, 0, 0.2); 
    color: #000000; 
}
nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

nav i{
    transform: scale(1.1);
    color: rgba(255, 255, 255, 0.5);
}

/*Front Page Animation*/
.hidden {
  opacity:0;
}
.console-container {
 
  
  font-weight: bold; 
  font-size:60px;
  text-align:center;
  height:200px;
  width:600px;
  display:inline-block;
  position:relative;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

/*HEADER ELEMENTS*/

.button-main{
    font-weight: bold;
    font-size: 1.1rem;
    background-color: rgba(109, 109, 109, 0);
    display: inline-block;
    position: relative;
    bottom: 20%;
    color: #33996e;
    border: solid #33996e 3px;
    text-align: center;
    width: 150px; 
    height: 50px;
    margin: 0 auto;
   
    border-radius: 40px; 
    transition: All .4s;
    transition-timing-function: ease-in-out;
   
}   

.button-main:hover {
    
    transform: scaleX(1.1);
    background-color: #33996e;
    color: white; 
}

#scroller{
   
    display: inline-block;
    position: absolute;  
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 2.5%;
    transition: .3s;
    transition-timing-function: ease-in-out;
}
#scroller p {
    margin-bottom: inherit; 
    font-size: 1.1rem;
    
}

#scroller:hover{
    color: #33996e;
}






